body {
    opacity: 1;
    transition: 2s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}

.overview-row {
  min-height: 100vh;
  color: #fff;
  background-image: url('../img/overview.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  padding-bottom: 5%;
  padding-top: 5%;
}

.overview-box {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 3vh;
  letter-spacing: 0.1em;
  text-align: center;
}

#main_title {
  font-weight: 900;
  font-size: 5em;
  letter-spacing: 0.2em;
  margin-bottom: 0.4em;
  display: none;
}

#restaurant_label {
  font-weight: 700;
  font-size: 1.5em;
}

#book_butt {
  margin-top: 1.3em;
  font-size: 0.8em;
  border-color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

#book_butt:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

#down_arrow {
  margin-top: 1.2em;
  font-size: 2em;
  border-color: transparent;
  background-color: transparent;
}
