#page_container {
    opacity: 1;
    transition: 2s opacity;
}

#page_container.fade-out, #main_title.fade-out {
    opacity: 0;
    transition: none;
}

.clickable {
  transition: all 0.5s ease 0s;
}

.overview-row {
  min-height: 100vh;
  color: #fff;
  background: radial-gradient(transparent, #402E22);
  background-image: url('../../img/overview.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  padding-bottom: 5%;
  padding-top: 5%;
}

.overview-box {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 2.8vh;
  letter-spacing: 0.1em;
  line-height: 5.2vh;
  text-align: center;
}

#main_title {
  opacity: 1;
  transition: 3s opacity;
  font-weight: 900;
  font-size: 5.3em;
  letter-spacing: 0.2em;
  margin-bottom: 0.4em;
}

#restaurant_label {
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 3.5vh;
}

#book_butt {
  margin-top: 1.3em;
  font-size: 0.8em;
  border-width: .1em;
  border-color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

#book_butt:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

#down_arrow {
  margin-top: 1.2em;
  font-size: 2em;
  border-color: transparent;
  background-color: transparent;
}

#aboutSection{
  min-height: 100vh;
  color: #fff;
  /*background-color: #2e3842;*/
  background: radial-gradient(transparent, #402E22);
  background-color: rgba(120, 86, 64, .9);
}

.section-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.section-title:after {
  display:block;
  clear:both;
  content : "";
  position: relative;
  left    : 0;
  bottom  : 0;
  max-width:2.2em;
  height  : 1px;
  width   : 50%;  /* or 100px */
  border-bottom:2px solid white;
  margin:0 auto;
  padding:15px 0px;
}


.menu-category-name {
  font-family: 'Playball', cursive;
  font-weight: 500;
  font-size: 6vh;
}

.red-wine, .white-wine, .rose-wine {
text-align: center;
}

.red-wine {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.wine-item, .cocktail-item {
  padding-top: 4%;
  width: 100%;
  padding-left: 9%;

}

.beer-item{
    width:100%;
    padding-left: 9%;
    padding-top:1.5%;;
}
#bottle-beers{
    padding-top:4%;
}
.cocktail-name{
    text-transform: uppercase;
}
.drink-type{
    font-family: 'Playball', cursive;
    font-weight: 500;
    font-size: 30px;
}

.wine-name, .cocktail-name, .beer-name {

  margin: 0px;
  font-size: 18px;
  font-family: 'Khand';
  display: inline;
  vertical-align: top;
  line-height: 28px;
  text-align: left;
    float: left;
}

.wine-price, .cocktail-price, .beer-price {
  font-family: 'Khand';
    font-size:18px;
  display: inline;
  vertical-align: top;
  line-height: 28px;
  float: right;

}
@media(min-width: 768px){
    .beer-name, .beer-price, .cocktail-name, .cocktail-price, .wine-name, .wine-price{
        font-size:20px;
    }
    

}
@media(min-width: 992px){
    .beer-name, .beer-price, .cocktail-name, .cocktail-price, wine-name, .wine-price{
        font-size:20px;
    }
    .beer-item{
        width:110%;
    }



}
@media(min-width:1200px){
    .beer-name, .beer-price, .cocktail-name, .cocktail-price, .wine-name, .wine-price{
        font-size:20px;

    }
    .cocktails-row{
        padding-left:50px;
        padding-right:50px;
    }
    .red-wine, white-wine{
        padding-left:50px;
        padding-right:50px;
    }


}

.wine-description, .cocktail-description, .beer-description {
  font-family: 'Didact Gothic', sans-serif;
    font-size:13px;
  color: #938372;
    float: left;
    text-align: left;

  /*padding-left: 7%;*/
}


#sbLogo {
  max-width: 10px;
}
#logo{
  text-align:center;
}
#cocktails-ro{
    border-right: 1px solid #ccc;

}

.wine-item .wine-name {
    display: inline-block;
    padding-right: 20px;
    max-width: 80%;
    margin: 0 0 15px;
}
.wine-item .wine-price{
    
padding-left: 10px;
right: 0;
position: absolute;
}

/*=
.wine-item .wine-price{
    
padding-left: 10px;
right: 0;
position: absolute;
margin-top: -3px;
}

.wine-item .wine-description {
    display: block;
    clear: both;
    color: #938372;
}


.wine-price {
  font-size: 3vh;
  font-family: 'Khand';
  display: inline;
  vertical-align: top;
  line-height: 28px;
  text-align: right;
}

.wine-description {
  font-family: 'Didact Gothic', sans-serif;
  color: #938372;
  font-size: 2vh;
  text-align: justify;
  /*padding-left: 7%;*/
}*/

.rose-wine div {
  padding-top: 0px;
}

#sbLogo {
  max-width: 300px;
  height: auto;
}

#sbLogoDiv {
  padding: 13% 0 0 0;
}

#rose {
  margin: 0px;
  padding: .3em 0 .7em 0;
}

#menu_row {
  min-height: 100vh;
  color: #fff;
}

#menu_img_col {
  min-height: 50vh;
  background-image: url('../../img/menu.jpg');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#menu_overview_col {
  min-height: 50vh;
  margin: 0 auto;
  padding: 8% 5vh;
  background: radial-gradient(transparent, #402E22);
  background-color: rgba(120, 86, 64, .9);
}

@media only screen and (min-width: 768px) {
    #menu_img_col, #menu_overview_col {
      min-height: inherit;
    }
}

.section-text {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 2.9vh;
  line-height: 1.3333em;
  margin: 1.4em auto;
}

#menu_buttons > button {
  margin: 1.3em .5em;
  width: 5.2em;
  font-size: 1.5em;
  border-width: .1em;
  border-color: white;
  background-color: rgba(64, 46, 34, 0.7);
}

#menu_buttons > button:hover {
  background-color: rgba(64, 46, 34, 1);
}
