#page_container {
    opacity: 1;
    transition: 2s opacity;
}
#page_container.fade-out, #main_title.fade-out {
    opacity: 0;
    transition: none;
}

.clickable {
  transition: all 0.5s ease 0s;
}

.overview-row {
  min-height: 100vh;
  color: #fff;
  background: radial-gradient(transparent, #402E22);
  background-image: url('../../img/overview.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  padding-bottom: 5%;
  padding-top: 5%;
}

.overview-box {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 2.8vh;
  letter-spacing: 0.1em;
  line-height: 5.2vh;
  text-align: center;
}

#main_title {
  opacity: 1;
  transition: 3s opacity;
  font-weight: 900;
  font-size: 5.3em;
  letter-spacing: 0.2em;
  margin-bottom: 0.4em;
}

#restaurant_label {
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 3.5vh;
}

#book_butt {
  margin-top: 1.3em;
  font-size: 0.8em;
  border-width: .1em;
  border-color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

#book_butt:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

#down_arrow {
  margin-top: 1.2em;
  font-size: 2em;
  border-color: transparent;
  background-color: transparent;
}

#aboutSection{
  min-height: 100vh;
  color: #fff;
  /*background-color: #2e3842;*/
  background: radial-gradient(transparent, #402E22);
  background-color: rgba(120, 86, 64, .9);
}

.section-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.section-title::after {
  display:block;
  clear:both;
  content : "";
  position: relative;
  left    : 0;
  bottom  : 0;
  max-width:2.2em;
  height  : 1px;
  width   : 50%;  /* or 100px */
  border-bottom:2px solid white;
  margin:0 auto;
  padding:15px 0px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

.slideshow-row {
  min-width: 100%;
}

#menu_row {
  min-height: 100vh;
  color: #fff;
}

#menu_img_col {
  min-height: 50vh;
  background-image: url('../../img/menu.jpg');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#menu_overview_col {
  min-height: 50vh;
  margin: 0 auto;
  padding: 8% 5vh;
  background: radial-gradient(transparent, #402E22);
  background-color: rgba(120, 86, 64, .9);
}

@media only screen and (min-width: 768px) {
    #menu_img_col, #menu_overview_col {
      min-height: inherit;
    }
}

.section-text {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 2.9vh;
  line-height: 1.3333em;
  margin: 1.4em auto;
}

#menu_buttons > button {
  margin: 1.3em .5em;
  width: 5.2em;
  font-size: 1.5em;
  border-width: .1em;
  border-color: white;
  background-color: rgba(64, 46, 34, 0.7);
}

#menu_buttons > button:hover {
  background-color: rgba(64, 46, 34, 1);
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidebar-nav {
  padding: 0;
  list-style: none;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#navright {
  float: right;
}

.navbar-default .navbar-brand{
  color: white;
  font-size: 16px;
  padding: 15px 10px;
}

#navibar {
  background-color: transparent;
  transition: all 0.5s ease;
  height: 45px;
}

#navibar.strong {
  background: radial-gradient(transparent, #402E22);
  background-color: rgba(120, 86, 64, .99);
}

#navright_span {
  opacity: 0;
  padding-right: 0;
}

#navright_span:hover {
  color: white;
}

@media (min-width: 768px) {
  #navibar {
    height: 52px;
    padding: 0 10px;
  }

  .navbar-default .navbar-brand{
    font-size: 18px;
  }

  #navright_span {
    opacity: 1;
  }
}

@media (min-width: 992px) {
  #navibar {
    height: 55px;
    padding: 0 10px;
  }

  .navbar-default .navbar-brand{
    font-size: 20px;
  }
}

#my_nav_brand {
  opacity: 0;
  transition: 0.5s;
}

#my_nav_brand.displayed {
  opacity: 1;
}
